body {
    margin: 0;
    font-family: Arial, sans-serif;
}


.barra-superior {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
}

.menu {
    display: flex;
    list-style: none;
    gap: 30px;
}


.banner-ofertas {
    background: linear-gradient(to right, #6b46c1, #9f7aea);
    color: white;
    padding: 60px;
    text-align: center;
}

.boton-comprar {
    padding: 10px 25px;
    background: white;
    border: none;
    cursor: pointer;
}


.contenedor-productos {
    text-align: center;
    padding: 40px;
}

.lista-productos {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.tarjeta-producto {
    border: 1px solid #ccc;
    padding: 20px;
    width: 200px;
    border-radius: 10px;
}

.tarjeta-producto img {
    width: 100%;
}

.boton-ver {
    background: #1a202c;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}


.pie-de-pagina {
    background: #1a202c;
    color: white;
    padding: 40px;
    display: flex;
    justify-content: space-around;
}

.lista-productos {
    display: flex; 
    justify-content: center; 
    gap: 20px; 
    flex-wrap: wrap; 
    padding: 20px;
}

.tarjeta-producto {
    border: 1px solid #ddd;
    padding: 20px;
    width: 200px; 
    text-align: center;
    border-radius: 8px;
}

.tarjeta-producto img {
    width: 100%; 
    height: auto;
}